<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item mx-3"><a routerLink="/calcular-media" routerLinkActive="active" class="nav-link">Calcular média</a></li>
        <li class="nav-item mx-3"><a routerLink="/calculadora"    routerLinkActive="active" class="nav-link" aria-current="page">Calculadora</a></li>
        <li class="nav-item mx-3"><a routerLink="/cadastro-aluno" routerLinkActive="active" class="nav-link" aria-current="page">Cadastro Aluno</a></li>
        <li class="nav-item mx-3"><a routerLink="/apolice"       routerLinkActive="active" class="nav-link">Apólice Seguro</a></li>
    </ul>
</header>